* {
    FONT-FAMILY: ARIAL, SANS-SERIF;
    text-align: right;
}

body {
    BACKGROUND-COLOR: LIGHTGRAY;
}

h2 {
    COLOR: BLUE;
}

p {
    FONT-SIZE: 20PX;
    COLOR: GREEN;
    border: 3px solid black;
}

li {
    list-style: none;
    display: inline;
    border: 2px dashed red;
}

strong {
    COLOR: RED;
}

div {
    border: 5px dotted purple;
    margin: 10px;
    padding: 10px;
}