* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #021526;
    color: #e5e7eb;
    padding: 20px 0 40px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}

.header h2 {
    font-size: 32px;
    letter-spacing: 1px;
    color: #e5e7eb;
}

.navbar {
    width: 100%;
    margin-bottom: 25px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    gap: 24px;
    background-color: #042F5C;
    border-radius: 999px;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 600;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 999px;
}

.navbar a:hover {
    background-color: #0b5ed7;
    transform: translateY(-1px);
}

.experience {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 18px 22px;
    margin: 18px auto;
    width: 100%;
    background-color: #053B73;
    border-radius: 999px;

}


.experience img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 20px;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.experience img:hover {
    transform: scale(1.07);
}

.experience div {
    flex: 1;
    padding-right: 10px;
}

.experience h3 {
    color: #dbeafe;
    font-size: 20px;
    margin-bottom: 8px;
}

.experience h4 {
    color: #dbeafe;
    font-size: 18px;
    margin-bottom: 8px;
}

.experience strong {
    font-size: 18px;
    line-height: 1.6;
    color: #f9fafb;
}

.link:hover {
    background-color: #0b5ed7;
}

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #042F5C;
    color: #E5E7EB;
    border-radius: 12px;
    overflow: hidden;
}

table td {
    padding: 12px 18px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #021526;
}

table th {
    background-color: #03223D;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    padding: 12px 18px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid #021526;
}

table tbody tr:hover {
    background-color: #0B5ED7;
}